img.photo-thumbnail {
    max-width: 100px;
    height: auto;
}
img.miniature {
    max-width: 80px;
    height: auto;
}
img.miniature-sm {
    max-width: 40px;
    height: auto;
}
img.photo {
    max-width: 500px;
    height: auto;
    max-height: 500px;
    margin-left: auto;
    margin-right: auto;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
a.no-underline {
    text-decoration: none;
}
textarea.comment-text-area {
    width: 500px;
    resize: none;
}

.ajax-loader {
    max-width: 32px;
}

span.icon-lg {
    font-size: x-large;
}

span.icon {
     font-size: larger;
 }
span.icon-sm {
    font-size: smaller;
}

.time {
    font-size: small;
    color: dimgray;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
}
.photo-cache {
   max-width: 200px;
   height: auto;
   max-height: 200px;
    /*width: auto;*/
    border: solid #000000;
    border-radius: 4px;
    margin: 5px;
}
.delete-cache {
    position: absolute;
    font-weight: bolder;
    border-radius: 10px;
    background-color: #ff3b24;
    height: auto;
    width: 20px;
    text-align: -webkit-center;
}

.upload-section {
    background-color: #8398ff;
    height: 80px;
    border-radius: 10px;
}

textarea.description {
    vertical-align: middle;
}

body {
    background-color: #ecedff;
}