<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib prefix="fmt" uri="http://java.sun.com/jsp/jstl/fmt" %>
<%@tag description="Overall Page template" pageEncoding="UTF-8"%>
<%@attribute name="title" required="false"%>
<html>
<head>
</head>
<body>
<div class="row text-center">
    <a href="/" class="no-underline"><h1>BuyItOrNot</h1></a>
</div>
</body>
</html>