<%@ taglib prefix="fmt" uri="http://java.sun.com/jsp/jstl/fmt" %>
<%@tag description="Overall Page template" pageEncoding="UTF-8"%>

<html>
<head>
</head>
<body>
    <a href="/app/locale/en"><fmt:message key="locale.english"/></a>
    <a href="/app/locale/pl"><fmt:message key="locale.polski"/></a>
</body>
</html>


