<%@tag description="Overall Page template" pageEncoding="UTF-8"%>

<html>
<head>
</head>
<body>
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="/resources/js/bootstrap.min.js"></script>
  <jsp:doBody/>
</body>
</html>